<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Proxy Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link rel="stylesheet" href="static/css/proxymo.css">
</head>

<body>
    <div class="ui middle aligned center aligned grid" id="main">
    
<transition name="flip" mode="out-in">
    <div key="proxy" class="column"  v-if="proxyEstablished">

<div class="ui stacked segment">
        <h2 class="ui olive header">
            <div class="content">
                Proxymo session established!
        </div>
            
        </h2>
        <p class="ui white">{{ message }}</p>
        <p>Seconds remaining in session: {{ timer }}</p>
<div class="ui fluid large olive submit button" v-on:click="reset">Create New Session!</div>
    </div>

</div>

    <div v-else class="column" key="noProxy">
        <h2 class="ui olive image header">
            <!-- <img src="assets/images/logo.png" class="image"> -->
            <div class="content">
                Set up your Proxymo session!
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="session" placeholder="Session Name" v-model="sessionName">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="clock icon"></i>
                        <input type="text" name="sessionLength" placeholder="Session Length" v-model="sessionLength">
                    </div>
                    </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="restaurant" placeholder="Restaurant Number" v-model="restaurant">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="customer" placeholder="Customer Number" v-model="customer">
                    </div>
                </div>
                
                <div class="ui fluid large olive submit button" v-on:click="createSession">Create Session!</div>
            </div>
            
            
            <div v-if="isLoading" class="ui icon message">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">
                    Just a moment
                    </div>
                    <p>{{ message }}</p>
                </div>
            </div>
            <div v-else-if="isError" class="ui negative message">
                <div class="header">Proxymo failed!</div>
                <p>{{ message }}</p>
            </div>
            <div v-else class="ui visible message" :class="{success: proxyEstablished}">{{ message }}</div>
        </form>
        
    </div>
</transition>
</div>

<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;"
    href="https://unsplash.com/@dariovero_?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
    target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Dario Veronesi"><span style="display:inline-block;padding:2px 3px;"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px;">Dario Veronesi</span></a>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
<script src="https://unpkg.com/vue@2.5.9/dist/vue.js"></script>
<script src="/static/js/index.js"></script>
</body>

</html>