<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Proxy Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link rel="stylesheet" href="static/css/proxymo.css">
</head>

<body>
    <div class="ui middle aligned center aligned grid" id="main">
    
<transition name="flip" mode="out-in">
    <div key="proxy" class="column"  v-if="proxyEstablished">

<div class="ui stacked segment">
        <h2 class="ui olive header">
            <div class="content">
                Proxymo session established!
        </div>
            
        </h2>
        <p class="ui white">{{ message }}</p>
        <p>Seconds remaining in session: {{ timer }}</p>
<div class="ui fluid large olive submit button" v-on:click="reset">Create New Session!</div>
    </div>

</div>

    <div v-else class="column" key="noProxy">
        <h2 class="ui olive image header">
            <!-- <img src="assets/images/logo.png" class="image"> -->
            <div class="content">
                Set up your Proxymo session!
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="users icon"></i>
                        <input type="text" name="session" placeholder="Session Name (optional)" v-model="sessionName">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="clock icon"></i>
                        <input type="text" name="sessionLength" placeholder="Session Length (default 120)" v-model="sessionLength">
                    </div>
                    </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="spy icon"></i>
                        <input type="text" name="spy1" placeholder="First Spy's Phone Number" v-model="spy1">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="spy icon"></i>
                        <input type="text" name="spy2" placeholder="Second Spy's Phone Number" v-model="spy2">
                    </div>
                </div>
                
                <div class="ui fluid large olive submit button" v-on:click="createSession">Create Session!</div>
            </div>
            
            <div id="form-errors" class="ui error message"></div>
            <div v-if="isLoading" class="ui icon message">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">
                    Just a moment
                    </div>
                    <p>{{ message }}</p>
                </div>
            </div>
            <div v-else-if="isError" class="ui negative message">
                <div class="header">Proxymo failed!</div>
                <p>{{ message }}</p>
            </div>
            <div v-else class="ui visible message" :class="{success: proxyEstablished}">{{ message }}</div>
        </form>
        
    </div>
</transition>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
<script src="https://unpkg.com/vue@2.5.9/dist/vue.js"></script>
<script src="/static/js/index.js"></script>
</body>

</html>